In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/Student_Behaviour_kor2.csv')
df

,자격증,성별,신장(cm),몸무게(kg),10살 성적,12살 성적,대학성적,공부시간,희망연봉,학위만족도,...,B.com ISM,BCA,Commerce,영화,책읽기,운동,비디오게임,아무때나,아침,저녁
0,0,1,100.0,58.0,79.0,65.0,80.0,0,40000,0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0,0,90.0,40.0,70.0,80.0,70.0,1,15000,1,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,1,159.0,78.0,69.5,61.0,55.0,2,13000,1,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1,0,147.0,20.0,70.0,59.0,58.0,2,1500000,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0,1,170.0,54.0,40.0,65.0,30.0,1,50000,1,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,1,1,170.0,76.0,72.0,67.0,65.0,1,7000,1,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
230,1,1,172.0,52.0,72.0,70.0,76.0,3,25000,1,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
231,1,0,139.0,33.0,90.0,75.0,70.0,1,20000,1,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
232,1,0,153.0,58.0,85.0,74.0,75.0,0,20000,1,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
233,0,0,155.0,39.0,45.0,45.0,50.0,4,10,0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [ ]:
df.loc

In [10]:
df[['10살 성적', '12살 성적']]

     10살 성적  12살 성적
0      79.0    65.0
1      70.0    80.0
2      69.5    61.0
3      70.0    59.0
4      40.0    65.0
..      ...     ...
229    72.0    67.0
230    72.0    70.0
231    90.0    75.0
232    85.0    74.0
233    45.0    45.0

[234 rows x 2 columns]

In [8]:
df.loc[:,['10살 성적', '12살 성적']]

     10살 성적  12살 성적
0      79.0    65.0
1      70.0    80.0
2      69.5    61.0
3      70.0    59.0
4      40.0    65.0
..      ...     ...
229    72.0    67.0
230    72.0    70.0
231    90.0    75.0
232    85.0    74.0
233    45.0    45.0

[234 rows x 2 columns]